.form {
  min-width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: sans-serif;
}

.form__heading {
  padding: 2rem 0;
  font-size: 1.5rem;
}

.form__label {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  font-size: 1.25rem;
  text-wrap: nowrap;
}

.form__input {
  width: 60%;
  padding: 1rem;
  background-color: #f3f4f6;
  border: 1px solid #d2d5da;
  border-radius: 8px;
}

.form__controls {
  display: flex;
  align-items: end;
  gap: 1rem;
}

.form__button {
  margin-left: auto;
}
