.card {
  width: fit-content;
  padding: 1rem;
  /* display: flex;
  flex-direction: column; */
  display: grid;
  grid-row: span 6;
  grid-template-rows: subgrid;
  gap: 1rem;
  outline: 1px solid red;
}

.card__poster {
  display: block;
}

.card__title {
  font-size: 24px;
}

.card_id {
  font-size: 14px;
  font-weight: bold;
}

.card__plot {
  width: 0;
  min-width: 100%;
  font-size: 18px;
  line-height: 1.5rem;
  display: -webkit-box;
  overflow: hidden;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.card__bookmark_selected {
  background-color: red;
}
