.card {
  width: fit-content;
  padding: 1rem;
  display: grid;
  grid-row: span 5;
  grid-template-rows: subgrid;
  gap: 1rem;
}

.card__poster {
  display: block;
}

.card__title {
  font-size: 1.75rem;
  /* padding-top: 0.75rem; */
  /* line-height: 150%; */
}

.card_id {
  font-size: 14px;
  font-weight: bold;
}

.card__plot {
  width: 0;
  min-width: 100%;
  font-size: 18px;
  line-height: 1.5rem;
  display: -webkit-box;
  overflow: hidden;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.card__controls {
  display: flex;
  justify-content: space-between;
}
