.search {
  flex: 1;
  /* width: 100%; */
  display: flex;
  gap: 2rem;
}

.search-field__wrapper {
  flex: 1;
  position: relative;
}

.search-field {
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  padding: 0.5rem;
}

.search-result {
  /* width: 100%; */
  min-width: 40%;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1px;
  background-color: #ccc;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 14%);
}

.search-result-item {
  padding: 1rem 2rem;
  border: 0;
  background-color: white;
  cursor: pointer;
  font-size: 1.5rem;
  text-align: start;
}

.search-controls {
  display: flex;
  gap: 1rem;
}

.search-radio:checked + .search-button {
  background-color: red;
}

.search-radio {
  /* display: none; */
}
