.header {
  padding: 0.5rem 0;
  /* box-sizing: border-box; */
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.profile-image__wrapper {
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
