.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, calc(300px + 2rem));
  gap: 1rem;
  justify-content: space-around;
}

.page__menu-bar {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
}
